@import "bootstrap.min.css" ;
@import "_bootstrap.scss" ;
@import "keyframes.scss" ;

@font-face {
    font-family: manga ;
    src: url("../font/MangaStyle.ttf") ;
}

@font-face {
    font-family: cyber ;
    src: url("../font/CIND.otf") ;
}

html {
    max-width: 100% ;
}

body {
    width: 100% ;
    height: auto ;
    display: block ;
    margin: 0 ;
    padding: 0 ;
    background-color: #111111 ;
    background-size: 100% ;
    background-repeat: repeat ;
    background-attachment: fixed ;
}

#home {
    font-family: manga ;
    font-size: 1rem ;
}

header {
    text-align: center;
}

a {
    color: #111 ;
    font-family: cyber, cursive ;
    font-size: 1.25rem ;
    animation: glow 2s ease-in-out infinite ;
    &:hover {
        animation: pulse2 0.5s linear infinite ;
    }
}

#home {
    animation-delay: 0.1s ;
}
#dancing {
    animation-delay: 0.2s ;
}
#tictac {
    animation-delay: 0.3s ;
}
#ajaxchat {
    animation-delay: 0.4s ;
}
#user_api {
    animation-delay: 0.5s ;
}
#post_api {
    animation-delay: 0.6s ;
}
#blog_api {
    animation-delay: 0.7s ;
}
#contact {
    animation-delay: 0.8s ;
}
#sololearn {
    animation-delay: 0.9s ;
}
#gitlab {
    animation-delay: 1s ;
}

h1 {
    font-family: manga, cursive;
    font-size: 3rem;
    color: white ;
    margin: 3% 0% 0% 0% ;
    animation: rainbow 5s linear alternate infinite ;
    @media screen and (max-width: 720px) {
        font-size: 1rem ;
    }
}

#presentation {
    text-align: right ;
    align-items: center ;
    font-family: cyber, cursive;
    font-size: 2rem;
    color: white ;
    margin: 0% 0% 0% 0% ;
    animation: neonBleu 4s linear alternate infinite ;
    @media screen and (max-width: 720px) {
        font-size: 1rem ;
        text-align: center ;
        margin-top: 2% ;
    }
}

.messages {
    background-color: #111111;
    margin: 5% 2% 3% 2% ;
    border-radius: 1%;
    padding: 1%;
    height: 450px;
    @media screen and (max-width: 720px) {
        height: 300px ; 
    }
    overflow: auto;
    animation: rainbow2 5s linear alternate infinite ; 
}

.message {
    font-weight: bold ;
    color: white;
    padding: 0.2%;
}

.date {
    font-family: cyber ;
    color: FireBrick ;
    animation: neonRouge 10s linear infinite ; 
}

.author {
    font-family: cyber ;
    color: white ;
    animation: rainbow 2.5s linear alternate infinite ;
}

form {
    display: flex;
    margin: 2%;
    border-radius: 2% ;
    justify-content: space-between;
    @media screen and (max-width: 720px) {
        justify-content: center ;
    }
}

input, #bouton {
    padding: 1%;
}

input {
    margin-right: 5%;
    @media screen and (max-width: 720px) {
        margin-right: 1% ;
    }
}

#author {
    width: 20% ;
}

#content {
    width: 60%;
}

#bouton {
    background-color: #111111 ;
    border-radius: 5% ;
    border: none ;
    width: 20%;
    color: steelblue ;
    @media screen and (max-width: 720px) {
        font-size: 0.9rem;
    }
    animation: neonBleu 10s linear infinite, rainbow2 5s linear alternate infinite ;
}


